.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  border: 1px #000 solid;
  padding: 0px 50px;
}
.header__menu {
  display: flex;
  gap: 20px;
  list-style: circle;
}

.header__logo {

}

.header__logo-image {

}

address {
  display: flex;
  flex-direction: column;
  max-width: 240px;

}

address a {

}

.cover {
  background: #0b6aa1;
  height: 757px;
}

.lots {
  display: grid;
  

}

.about {
  display: grid;
  top: 180px;
}

.about_more {

}
.footer {
display: grid;
}