.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 92px 50px;
}

.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;  
  list-style: circle;
}

.header__links-list-item {

}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.active {
 text-decoration: none;
}

.header__link {

}

.header__logo {
  
}

.header__logo-image {
  width: 135px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  color: #fff;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;

}

.cover__title {
  position: relative;
  z-index: 2;
  margin: 155px 50px 95px 50px;
  font-size: 100px;
  line-height: 135%;
  letter-spacing: 0.3em;
  text-transform:uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
   letter-spacing: 0;
}


.description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0px 50px;
  font-size: 22px;
  text-transform:uppercase;
  word-spacing: 18.7px;
}

.button-action {
  border: 1px #fff solid;
  padding: 12px 32px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ffffff00;
}

.lots {
  display: grid;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 27px 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;

}

.card-link{
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  height: 596px;
  width: 334px;

}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  margin-top: auto;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  font-size: 20px;
  margin: 30px 0 0 40px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);

}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.about__logo {
  width: 240px;
  height: 240px;  
}

.about__logo-image {

}

.about__column {

}

.about__title {
  text-transform:uppercase;
}

.about__text {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  margin: 0 50px;
}

.address__footer {
  display: flex;
  flex-direction: column;
  max-width: 264.57px;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}



.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;

}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

